<script>
// Importing Line class from the vue-chartjs wrapper
import { Bar } from 'vue-chartjs'
import 'chartjs-plugin-style'

import { pluck } from 'ramda'

const depressionData = [
  {
    name: 'Any mental disorder',
    globalPercent: 13,
    globalAbsoluteNumberMil: 970,
  },
  {
    name: 'Depression',
    globalPercent: 3.4,
    globalAbsoluteNumberMil: 792,
  },
  {
    name: 'Anxiety disorders',
    globalPercent: 3.8,
    globalAbsoluteNumberMil: 284,
  },
  {
    name: 'Alcohol use disorder',
    globalPercent: 1.4,
    globalAbsoluteNumberMil: 107,
  },
  {
    name: 'Drug use disorder',
    globalPercent: 0.9,
    globalAbsoluteNumberMil: 71,
  },
  {
    name: 'Bipolar disorder',
    globalPercent: 0.6,
    globalAbsoluteNumberMil: 46,
  },
  {
    name: 'Schizophrenia',
    globalPercent: 0.3,
    globalAbsoluteNumberMil: 20,
  },
  {
    name: 'Eating disorders',
    globalPercent: 0.2,
    globalAbsoluteNumberMil: 16,
  },
]

// Exporting this so it can be used in other components
export default {
  extends: Bar,
  data () {
    return {
      datacollection: {
        // Data to be represented on x-axis
        labels: pluck('name', depressionData),
        datasets: [
          {
            label: 'Data One',
            backgroundColor: '#ffacfd',
            pointBackgroundColor: 'white',

            // width of a line
            borderWidth: 5,
            barPercentage: 0.5,
            barThickness: 30,
            minBarLength: 2,

            // do not paint the space beneath line
            fill: false,

            // color of a line
            pointBorderColor: 'white',

            // Data to be represented on y-axis
            data: pluck('globalAbsoluteNumberMil', depressionData),
            outerGlowWidth: 15,
            outerGlowColor: 'rgb(212, 87, 143)',
          },
        ],
      },

      // Chart.js options that controls the appearance of the chart
      options: {
        animation: {
          duration: 3000,
        },
        scales: {
          xAxes: [{
            gridLines: {
              offsetGridLines: true,
              display: true,
              color: '#333',
            },
            ticks: {
              fontSize: 14,
              fontColor: '#98c03e',
            },
          }],
          yAxes: [{
            gridLines: {
              offsetGridLines: true,
              display: true,
              color: '#333',
            },
            ticks: {
              fontSize: 14,
              fontColor: '#98c03e',
            },
          }],
        },
        legend: {
          display: false,
        },
        responsive: true,
        maintainAspectRatio: false,
      },
    }
  },
  mounted () {
    this.showEl('depression')
  },
  methods: {
    load() {
      this.renderChart(this.datacollection, this.options)
    },
  },
}
</script>

<style lang="scss" scoped>
canvas {
  width: 100%;
  height: 400px;
  background-image:
    linear-gradient(to top, rgba(12, 11, 12, 1) 0%, rgba(12, 11, 12, 0) 35%, rgba(12, 11, 12, 0) 65%, rgba(12, 11, 12, 1) 100%),
    url('/imgs/pattern.png');
}
</style>
