<script>
// Importing Line class from the vue-chartjs wrapper
import { Line } from 'vue-chartjs'
import 'chartjs-plugin-style'

import { labels, data } from '@/assets/js/globalWarming'

const effectColors = {
  highlight: 'rgba(255, 255, 255, 0.75)',
  shadow: 'rgba(0, 0, 0, 0.5)',
  main: '#FED128',
  glow: '#FA1C16',
  lines: '#333',
  ticks: '#FB4264',
}

// Exporting this so it can be used in other components
export default {
  extends: Line,
  data () {
    return {
      datacollection: {
        // Data to be represented on x-axis
        labels,
        datasets: [
          {
            backgroundColor: effectColors.main,
            pointBackgroundColor: 'transparent',
            // width of a line
            borderWidth: 5,
            // do not paint the space beneath line
            fill: false,
            // color of a line
            borderColor: effectColors.main,
            pointBorderColor: 'transparent',
            // Data to be represented on y-axis
            data,
            outerGlowWidth: 10,
            // outerGlowColor: effectColors.glow,

            borderJoinStyle: 'round',
            lineTension: 0,

            shadowColor: effectColors.shadow,
            bevelWidth: 2,
            bevelHighlightColor: effectColors.highlight,
            bevelShadowColor: effectColors.shadow,
            hoverInnerGlowWidth: 20,
            hoverouterGlowWidth: 10,
            hoverInnerGlowColor: effectColors.glow,
            hoverOuterGlowColor: effectColors.glow,
          },
        ],
      },

      // Chart.js options that controls the appearance of the chart
      options: {
        animation: {
          duration: 3000,
        },
        scales: {
          yAxes: [{
            gridLines: {
              display: true,
              color: effectColors.lines,
            },
            ticks: {
              maxTicksLimit: data.length / 2,
              fontSize: 15,
              fontColor: effectColors.ticks,
            },
          }],
          xAxes: [{
            gridLines: {
              display: true,
              color: effectColors.lines,
            },
            ticks: {
              maxTicksLimit: data.length / 2,
              fontSize: 15,
              fontColor: effectColors.ticks,
            },
          }],
        },
        layout: {
          padding: {
            left: 50,
            right: 50,
          },
        },
        legend: {
          display: false,
        },
        responsive: true,
        maintainAspectRatio: false,
      },
    }
  },
  mounted () {
    this.showEl('global-warming')
  },
  methods: {
    load() {
      this.renderChart(this.datacollection, this.options)
    },
  },
}
</script>

<style lang="scss" scoped>
canvas {
  width: 100%;
  height: 400px;
  background-image:
    linear-gradient(to right, rgba(12, 11, 12, 1) 0%, rgba(12, 11, 12, 0.7) 35%, rgba(12, 11, 12, 0.7) 65%, rgba(12, 11, 12, 1) 100%),
    linear-gradient(to top, rgba(12, 11, 12, 1) 15%, rgba(12, 11, 12, 0) 35%, rgba(12, 11, 12, 0) 65%, rgba(12, 11, 12, 1) 100%),
    url('/imgs/c.gif');
  background-blend-mode: normal;
}
</style>
