<script>
// Importing Line class from the vue-chartjs wrapper
import { Line } from 'vue-chartjs'
import 'chartjs-plugin-style'

const dataYoung = [
  53, 54, 55, 51, 53, 54, 54, 44, 50, 48, 47, 43, 45, 43, 44, 40, 44, 40, 40, 32,
]

const effectColors = {
  highlight: '#7ccdef',
  shadow: '#63b5d8',
  glow: '#7ccdef',
  main: '#fff',
  lines: '#333',
  ticks: '#fff',
}

// Exporting this so it can be used in other components
export default {
  extends: Line,
  data () {
    return {
      datacollection: {
        // Data to be represented on x-axis
        labels: [1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016],
        datasets: [
          {
            backgroundColor: effectColors.main,
            pointBackgroundColor: 'transparent',

            // width of a line
            borderWidth: 5,

            // do not paint the space beneath line
            fill: false,

            // color of a line
            borderColor: effectColors.main,
            pointBorderColor: 'transparent',
            borderJoinStyle: 'miter',
            borderCapStyle: 'square',
            lineTension: 0,

            // Data to be represented on y-axis
            data: dataYoung,
            outerGlowWidth: 15,
            outerGlowColor: effectColors.glow,

            shadowColor: effectColors.shadow,
            bevelWidth: 5,
            bevelHighlightColor: effectColors.highlight,
            bevelShadowColor: effectColors.shadow,
            hoverInnerGlowWidth: 20,
            hoverouterGlowWidth: 10,
            hoverInnerGlowColor: effectColors.glow,
            hoverOuterGlowColor: effectColors.glow,
          },
        ],
      },

      // Chart.js options that controls the appearance of the chart
      options: {
        animation: {
          duration: 3000,
        },
        scales: {
          yAxes: [{
            gridLines: {
              display: true,
              color: effectColors.lines,
            },
            ticks: {
              maxTicksLimit: dataYoung.length,
              fontSize: 15,
              fontColor: effectColors.ticks,
            },
          }],
          xAxes: [{
            gridLines: {
              display: true,
              color: effectColors.lines,
            },
            ticks: {
              maxTicksLimit: dataYoung.length,
              fontSize: 15,
              fontColor: effectColors.ticks,
            },
          }],
        },
        layout: {
          padding: {
            left: 50,
            right: 50,
          },
        },
        legend: {
          display: false,
        },
        responsive: true,
        maintainAspectRatio: false,
      },
    }
  },
  mounted () {
    this.showEl('trust-in-media')
  },
  methods: {
    load() {
      this.renderChart(this.datacollection, this.options)
    },
  },
}
</script>

<style lang="scss" scoped>
canvas {
  width: 100%;
  height: 400px;
  background-image:
    linear-gradient(to right, rgba(12, 11, 12, 1) 0%, rgba(12, 11, 12, 0.30) 35%, rgba(12, 11, 12, 0.30) 65%, rgba(12, 11, 12, 1) 100%),
    linear-gradient(to top, rgba(12, 11, 12, 1) 0%, rgba(12, 11, 12, 0) 35%, rgba(12, 11, 12, 0) 65%, rgba(12, 11, 12, 1) 100%),
    url('/imgs/storm-clouds.png');
  animation: animation 100s linear infinite, flash ease-out 7s infinite;
  filter: brightness(1);
}

@keyframes flash {
  from { filter: brightness(1); }
  92% { filter: brightness(1); }
  93% { filter: brightness(1.75); }
  94% { filter: brightness(1.2); }
  96% { filter: brightness(2.25); }
  to { filter: brightness(1); }
}

@keyframes animation {
  100% {
    background-position: -100% 0;
  }
}
</style>
