<script>
// Importing Line class from the vue-chartjs wrapper
import { Line } from 'vue-chartjs'
import { pluck } from 'ramda'
import 'chartjs-plugin-style'

import dataGovTrust from '@/assets/js/govTrust'

const effectColors = {
  highlight: '#999',
  bevel: '#666',
  shadow: '#111',
  glow: '#333333',
  main: '#000',
  lines: '#333',
  ticks: '#888',
}

// Exporting this so it can be used in other components
export default {
  extends: Line,
  data () {
    return {
      datacollection: {
        // Data to be represented on x-axis
        labels: pluck('date', dataGovTrust).reverse(),
        datasets: [
          {
            backgroundColor: effectColors.main,
            pointBackgroundColor: 'transparent',

            // width of a line
            borderWidth: 2,
            borderColor: '#6666',

            // do paint the space beneath line
            fill: 'origin',

            // color of a line
            pointBorderColor: 'transparent',
            borderJoinStyle: 'circle',
            borderCapStyle: 'square',
            lineTension: 0.1,

            // Data to be represented on y-axis
            data: dataGovTrust.map(e => ({
              x: new Date(e.date),
              y: e.movingAverage,
            })).reverse(),
          },
        ],
      },

      // Chart.js options that controls the appearance of the chart
      options: {
        animation: {
          duration: 3000,
        },
        scales: {
          yAxes: [{
            gridLines: {
              display: true,
              color: effectColors.lines,
            },
            ticks: {
              fontSize: 15,
              fontColor: effectColors.ticks,
            },
          }],
          xAxes: [{
            type: 'time',
            gridLines: {
              display: true,
              color: effectColors.lines,
            },
            ticks: {
              autoSkip: true,
              maxTicksLimit: 45,
              fontSize: 15,
              fontColor: effectColors.ticks,
              minRotation: 40,
            },
          }],
        },
        layout: {
          padding: {
            left: 50,
            right: 50,
          },
        },
        legend: {
          display: false,
        },
        responsive: true,
        maintainAspectRatio: false,
      },
    }
  },
  mounted () {
    this.showEl('trust-in-government')
  },
  methods: {
    load () {
      this.renderChart(this.datacollection, this.options)
    }
  }
}
</script>

<style lang="scss" scoped>
canvas {
  width: 100%;
  height: 400px;
  background-image:
    linear-gradient(to right, rgba(12, 11, 12, 1) 0%, rgba(12, 11, 12, 0) 15%, rgba(12, 11, 12, 0) 85%, rgba(12, 11, 12, 1) 100%),
    linear-gradient(to top, rgba(12, 11, 12, 1) 20%, rgba(12, 11, 12, 0) 35%, rgba(12, 11, 12, 0) 45%, rgba(12, 11, 12, 1) 100%),
    url('/imgs/sky.png');
}
</style>
