// setup
@import './variables.scss';
@import './mixins.scss';
@import './fonts.scss';

// components
@import './components/scrollbar.scss';

html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;

  body {
    background: #0c0b0c;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.test-img {
  padding: 10px;
  margin: 30px;
  float: left;
  height: 300px;
  box-shadow: 0px 0px 5px #fff9, 0px 0px 10px #fff9, 0px 0px 5px #fff9, 0px 0px 20px #5a1eff, inset 0px 0px 3px #5a1eff;
  background-size: cover;
  background-clip: content-box;
  width: calc(100% - 60px);

  @include mdsize {
    width: calc(33% - 60px);
  }
}

.test-img-1 {
  background-image: linear-gradient(to right, rgba(0,0,0,0.75) 0%, #5a1eff95 50%, rgba(0,0,0,0.75) 100%), url('/imgs/iqbla.png');
}

.test-img-2 {
  background-image: linear-gradient(to right, rgba(0,0,0,0.75) 0%, #5a1eff95 50%, rgba(0,0,0,0.75) 100%), url('/imgs/aaa.png');
}

.test-img-3 {
  background-image: linear-gradient(to right, rgba(0,0,0,0.75) 0%, #5a1eff95 50%, rgba(0,0,0,0.75) 100%), url('/imgs/bbb.png');
}
