$font_path: '~@/assets/fonts/';

/* roboto-regular - cyrillic-ext_latin-ext_latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src:
    url($font_path + 'roboto-v18-latin_cyrillic_latin-ext_cyrillic-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
    url($font_path + 'roboto-v18-latin_cyrillic_latin-ext_cyrillic-ext-300.ttf') format('truetype'),
}

/* roboto-regular - cyrillic-ext_latin-ext_latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:
    url($font_path + 'roboto-v18-cyrillic-ext_latin-ext_latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url($font_path + 'roboto-v18-cyrillic-ext_latin-ext_latin_cyrillic-regular.ttf') format('truetype'),
}

/* roboto-900 - cyrillic-ext_latin-ext_latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src:
    url($font_path + 'roboto-v18-cyrillic-ext_latin-ext_latin_cyrillic-900.woff2') format('woff2'), /* Super Modern Browsers */
    url($font_path + 'roboto-v18-cyrillic-ext_latin-ext_latin_cyrillic-900.ttf') format('truetype'),
}

@font-face {
  font-family: 'Vanity Garden';
  font-style: normal;
  font-weight: 900;
  src: url($font_path + 'Vanity Garden.otf') format('truetype'),
}

@font-face {
  font-family: 'Glass';
  font-style: normal;
  font-weight: 900;
  src: url($font_path + 'Glass.ttf') format('truetype'),
}

@font-face {
  font-family: 'Bubbleboddy';
  font-style: normal;
  font-weight: 900;
  src: url($font_path + 'Bubbleboddy.ttf') format('truetype'),
}

@font-face {
  font-family: 'Streamster';
  font-style: normal;
  font-weight: 900;
  src: url($font_path + 'streamster.ttf') format('truetype'),
}

@font-face {
  font-family: 'Bratsy Script';
  font-style: normal;
  font-weight: 900;
  src: url($font_path + 'Bratsy Script.ttf') format('truetype'),
}

@font-face {
  font-family: 'FlowerBold';
  font-style: normal;
  font-weight: 900;
  src: url($font_path + 'Flower Bold.ttf') format('truetype'),
}

@font-face {
  font-family: 'Angelina';
  font-style: normal;
  font-weight: 900;
  src: url($font_path + 'Angelina Demo.ttf') format('truetype'),
}

@font-face {
  font-family: 'Neon';
  font-style: normal;
  font-weight: 900;
  src: url($font_path + 'neon.ttf') format('truetype'),
}

@font-face {
  font-family: 'Orwell';
  font-style: normal;
  font-weight: 900;
  src: url($font_path + 'Orwell.ttf') format('truetype'),
}

@import url('https://fonts.googleapis.com/css?family=Gugi');
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton');
