$clr-primary: #a171a8;
$clr-success: #ffce49;
$clr-danger: #da7070;
$clr-black: #240E3E;
$clr-gray: #333;

$clr-text: #242424;
$clr-text-medium: #565656;
$clr-test-light: #919191;

$clr-darker: rgb(75, 21, 45);
$clr-yellowish: rgb(233, 236, 54);
$clr-darkblue: #5a1eff;
$clr-defaultblack: black;
$clr-lightblue: #4d8bfd;
$clr-lightpurple: #aa5bff;
$clr-white: white;
$clr-red: #F40A35;
