<template>
  <section :class="type" class="articles-picker">
    <div class="columns">
      <div v-for="item in records" :key="item.header" @click="setArticleBar(item)" class="column">
        <div class="column-point" />
        <span>{{ item.header }}</span>
      </div>
    </div>
    <!-- articles-->
    <div class="article-background">
      <transition name="fade">
        <div v-if="actual !== null" class="article-root">
          <div class="article">
            <h4>{{ actual.header }}</h4>
            <p>{{ actual.text }}</p>
          </div>
        </div>
      </transition>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    records: {
      type: Array,
      required: true,
    },
    type: {
      type: String,
      default: 'darkblue',
    },
  },
  data () {
    return {
      actual: null,
    }
  },
  methods: {
    setArticleBar (article) {
      if (this.actual === article) {
        this.actual = null
      } else {
        this.actual = article
      }
    },
  },
}

</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';

.article-background {
  background-color: $clr-defaultblack;

  .article-root {
    border-top: 1px solid $clr-lightblue;
    background-image: linear-gradient($clr-darkblue, $clr-defaultblack);
    padding: 20px;

    .article {
      background-color: $clr-darker;
      border-radius: 2px;
      background: none;
      padding: 24px;

      h4 {
        color: $clr-primary;
      }
      p {
        color: $clr-primary;
      }
    }
  }
}

.articles-picker {
  background-color: $clr-defaultblack;
  padding-bottom: 40px;

  .columns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;

    .column {
      display: flex;
      flex-flow: column;
      align-items: center;
      padding: 26px;
      cursor: pointer;
      text-align: center;

      &:hover {
        border-radius: 50%;

        .column-point {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          transition: box-shadow .5s ease-in-out, width .5s ease-in-out, height .5s ease-in-out;
          box-shadow: 0px 0px 5px #fff, 0px 0px 10px #fff, 0px 0px 5px #fff, 0px 0px 20px #fff,
            0px 0px 20px #fff, 0px 0px 20px #5a1eff, 0px 0px 20px #5a1eff, inset 0px 0px 3px #5a1eff;
        }
      }

      .column-point {
        transition: box-shadow .5s ease-in-out, width .5s ease-in-out, height .5s ease-in-out;
        width: 10px;
        height: 10px;
        margin: 25px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0px 0px 5px #5a1eff, 0px 0px 10px #5a1eff, 0px 0px 5px #fff, 0px 0px 20px #fff, 0px 0px 20px #5a1eff,
          0px 0px 20px #5a1eff, 0px 0px 20px #5a1eff, inset 0px 0px 3px #5a1eff;
      }

      img {
        width: 44px;
        height: 44px;
        transform: scaleY(-1);
        border-radius: 25%;
        box-shadow: inset 0px 0px 2px 4px $clr-danger;
      }

      span {
        padding-top: 4px;
        color: #5a1eff;
        font-size: 14px;
        width: 75px;
      }
    }
  }

  &.global-warming {
    .article-root {
      border-top: 1px solid #FED128;
      background-image: linear-gradient(#F40A35, $clr-defaultblack);
    }

    &.articles-picker {
      .columns {
        .column {
          &:hover {
            .column-point {
              box-shadow: 0px 0px 5px #fff, 0px 0px 10px #fff, 0px 0px 5px #fff, 0px 0px 20px #fff, 0px 0px 20px #fff,
                0px 0px 20px $clr-red, 0px 0px 20px $clr-red, inset 0px 0px 3px $clr-red;
            }
          }

          .column-point {
            box-shadow: 0px 0px 5px $clr-red, 0px 0px 10px $clr-red, 0px 0px 5px #fff, 0px 0px 20px #fff, 0px 0px 20px $clr-red,
              0px 0px 20px $clr-red, 0px 0px 20px $clr-red, inset 0px 0px 3px $clr-red;
          }

          img {
            box-shadow: inset 0px 0px 2px 4px $clr-red;
          }

          span {
            color: $clr-red;
          }
        }
      }
    }

    .article {
      h4 {
        color: #FED128;
      }
      p {
        color: #FED128;
      }
    }
  }

  .darkblue {
    .article {
      h4 {
        color: $clr-lightblue;
      }
      p {
        color: $clr-lightblue;
      }
    }
  }
}
</style>
