<template>
  <div class="background">
    <div :style="imgCssY['clouds-1']" class="clouds-1" />
    <div :style="imgCssY['clouds-2']" class="clouds-2" />
    <div :style="imgCssY['clouds-3']" class="clouds-3" />
    <div :style="bgPositions['hills-1']" class="hills-1" />
    <div :style="bgPositions['hills-2']" class="hills-2" />
    <div :style="bgPositions.sun" class="bg-sun" />
    <div class="bg-default" />

    <section class="container" data-test-id="hero-section">
      <div class="heading-content">
        <div class="main-header">
          <h1>{{ $t('segments.hero.itsTimeToPanic') }}</h1>
        </div>
        <div class="header-paragraph">
          <div class="basic-information">
            <h2>{{ $t('segments.hero.notLivingTheBest') }}</h2>
            <div class="pink-strip mt-3">
              <h2>{{ $t('segments.hero.houseIsOnFire') }}</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
@import '~/assets/scss/mixins.scss';

.pink-strip {
  text-transform: uppercase;
  box-shadow: inset 0px -1px 1px darken($clr-primary, 5%), inset 1px 1px lighten($clr-primary, 5%);
  border-radius: 2px;
  background-color: darken($clr-primary, 5%);
  padding: 5px;
  text-align: center;
  margin-bottom: 10px;

  h2 {
    color: $clr-black !important;
  }
}

.background {
  width: 100%;
  height: 100%;
  background-image: url('/background/background-bg.png');
  background-size: 100% 100%;
  background-position: center bottom;
  background-repeat: repeat-x;
  position: relative;

  .bg-default, .bg-sun, .hills-1, .hills-2, .clouds-1, .clouds-2, .clouds-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .bg-default {
    background-image: url('/background/background.png');
  }

  .bg-sun {
    background-image: url('/background/background-sun.png');
  }

  .hills-1 {
    background-image: url('/background/background-hills1.png');
  }

  .hills-2 {
    background-image: url('/background/background-hills2.png');
  }

  .clouds-1 {
    background-position-y: 20%;
    background-image: url('/background/background-clouds1.png');
  }

  .clouds-2 {
    background-image: url('/background/background-clouds2.png');
  }

  .clouds-3 {
    background-image: url('/background/background-clouds3.png');
  }

  .container {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    align-items: center;

    .basic-information {
      text-align: center;

      p {
        color: $clr-white;
        font-stretch: condensed;
      }

      h2 {
        font-family: 'Righteous';
        font-size: 2rem;
        color: $clr-success;
        margin-bottom: 0;
      }
    }

    .heading-content {
      margin: auto;
      position: absolute;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .main-header {
        height: 35vh;
        margin-top: 25vh;
      }
    }

    .content {
      margin-top: 150px;
    }

    h1 {
      text-align: center;
      font-size: 70px;
      font-family: 'Streamster';
      color: $clr-success;
      text-shadow: 1px 1px 1px white, 3px 3px 5px $clr-black;

      @include mdsize {
        font-size: 150px;
      }
    }
  }
}
</style>
