<template>
  <div>
    <section :class="type">
      <div class="columns">
        <div class="column">
          <slot name="header" />
        </div>
      </div>
    </section>
    <section :class="type" class="sources">
      <span>sources</span>
      <slot />
    </section>
  </div>
</template>

<script>

export default {
  props: {
    type: {
      type: String,
      default: 'darkblue',
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~/assets/scss/variables.scss';
@import '~/assets/scss/mixins.scss';

.fade-enter-active, .fade-leave-active {
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.6s ease-in-out;
}

.fade-enter, .fade-leave-to {
  transform: scaleY(0);
}

section {
  width: 100%;
  padding: 1rem;
  margin: auto;

  @include mdsize {
    width: 1440px;
    padding: 0;
  }

  &:nth-child(2) {
    margin-top: 0;
  }

  h3 {
    color: white;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 30px;
    text-align: center;
    font-family: neon;

    @include mdsize {
      font-size: 50px;
    }
  }

  h4 {
    color: #fff;
    text-align: center;
    margin-bottom: 0px;
    font-weight: 900;
    font-size: 20px;
    font-family: 'Poiret One';

    @include mdsize {
      font-size: 30px;
    }
  }

  h3, h4 {
    letter-spacing: 2px;
  }

  h3 {
    font-family: Roboto;
  }

  span.question {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 1rem;
    // margin-bottom: 1rem;
    color: white;
  }

  &.sources {
    color: #777;
    margin-bottom: 7rem;
    margin-top: 2rem;
    font-size: 13px;

    span {
      font-size: 15px;
      font-weight: bold;
    }
  }
}

.student-debt {
  h3 {
    font-family: Vanity Garden;
    font-size: 4rem;
    background: -webkit-linear-gradient($clr-primary, $clr-darkblue);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .question {
    color: #da7070;
  }

  &.sources {
    a {
      color: #5a1eff;
    }
  }
}

.drug-overdoses {
  h3 {
    font-family: Roboto;
    font-size: 55px;
    font-weight: 900;
    color: transparent;
    text-shadow: 0px 0 1px #000, -3px 0 0px $clr-lightblue, 1px 0 0px $clr-red, 2px 0 3px $clr-red;
  }

  .question {
    color: #4d8bfd;
  }

  &.sources {
    a {
      color: $clr-red;
    }
  }
}

.colledge-not-worth-it {
  h3 {
    background: url('/imgs/clouds.png');
    background-repeat: repeat;
    background-position: 0 0;
    text-transform: uppercase;
    text-align: center;
    color: transparent;
    -webkit-font-smoothing: antialiased;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    animation: BackgroundAnimated 15s linear infinite;
  }

  @keyframes BackgroundAnimated {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 1250% 0;
    }
  }

  &.sources {
    a {
      color: #fff;
    }
  }
}

.depression {
  h3 {
    font-family: FlowerBold;
    text-shadow: 0 0 5px #fff, 0 0 20px #ffacfd, 0 0 30px #ffacfd, 0 0 40px #ffacfd;
  }

  h4 {
    color: #98c03e;
  }

  .question {
    color: #98c03e;
  }

  &.sources {
    a {
      color: #98c03e;
    }
  }
}

.loneliness {
  h3 {
    font-family: neon;
    text-shadow: -3px 0 1px rgb(30, 242, 241), -3px 0 5px rgb(30, 242, 241), 5px 0 1px rgb(246, 5, 10), 5px 0 6px rgb(246, 5, 10);
  }
}

.stds {
  box-sizing: content-box;
  border: none;

  &.sources {
    a {
      color: #0AD0FD;
    }
  }

  h3 {
    color: #fff;
    background-image: linear-gradient(#022486 0%, #0AD0FD 30%, #BDFCFC 40%, #D8FFFF 44%, #00081C 44%, #00081C 50%, #074A67 52%, #1CD8FE 60%, #7FEDFE 62%, #96F5FC 70%, #0FD8FA 73%, #0BD2FD 88%, #AFFDFF 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
    margin-top: 10px;
    font-weight: 500;

    &:before {
      position: absolute;
      content: '';
      left: 51px;
      top: 74px;
      width: 80px;
      height: 3px;
      background-image: radial-gradient(#fff 0%, transparent 85%);
      z-index: 4;
      animation-name: cop_before_effect;
      animation-duration: 5s;
      animation-delay: 2s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }

    &:after {
      position: absolute;
      content: '';
      left: 90px;
      top: 32px;
      width: 3px;
      height: 80px;
      background-image: radial-gradient(#fff 0%, transparent 85%);
      z-index: 4;
      animation-name: cop_after_effect;
      animation-duration: 5s;
      animation-delay: 2s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }

    @keyframes chrome_effect {
      0% { background-position: -680px 0; }
      10% { background-position: 420px 0; }
      100% { background-position: 420px 0; }
    }

    @keyframes cop_before_effect {
      0% {
        left: 51px;
        top: 74px;
        opacity: 0;
      }

      15% {
        left: 51px;
        top: 74px;
        opacity: 1;
      }

      30% {
        left: 51px;
        top: 74px;
        opacity: 0;
      }

      35% {
        left: 370px;
        top: 45px;
        opacity: 0;
      }

      50% {
        left: 370px;
        top: 45px;
        opacity: 1;
      }

      65% {
        left: 370px;
        top: 45px;
        opacity: 0;
      }

      70% {
        left: 564px;
        top: 74px;
        opacity: 0;
      }

      85% {
        left: 564px;
        top: 74px;
        opacity: 1;
      }

      100% {
        left: 564px;
        top: 74px;
        opacity: 0;
      }
    }

    @keyframes cop_after_effect {
      0% {
        left: 90px;
        top: 32px;
        opacity: 0;
      }

      15% {
        left: 90px;
        top: 32px;
        opacity: 1;
      }

      30% {
        left: 90px;
        top: 32px;
        opacity: 0;
      }

      35% {
        left: 413px;
        top: 11px;
        opacity: 0;
      }

      50% {
        left: 413px;
        top: 11px;
        opacity: 1;
      }

      65% {
        left: 413px;
        top: 11px;
        opacity: 0;
      }

      70% {
        left: 603px;
        top: 32px;
        opacity: 0;
      }

      85% {
        left: 603px;
        top: 32px;
        opacity: 1;
      }

      100% {
        left: 603px;
        top: 32px;
        opacity: 0;
      }
    }
  }
}

.vaccinations {
  h4 {
    color: #007bff;
  }

  h3 {
    font-family: Bratsy Script;
    color: #FED128;
    text-shadow: 0 0 1vw #FA1C16;
    margin: 0;
  }
}

.suicide-rate {
  h3 {
    font-family: Glass;
  }

  &.sources {
    a {
      color: white;
    }
  }
}

.trust-in-government {
  h3 {
    font-family: fantasy;
  }

  &.sources {
    a {
      color: #fff;
    }
  }
}

.trust-in-media {
  h3 {
    font-family: 'Poiret One';
    text-shadow: 0 0 5px #7ccdef, 0 0 20px #a6def7;
  }

  &.sources {
    a {
      color: #b2e1f5;
      text-shadow: 0 0 5px #7ccdef, 0 0 20px #a6def7;
    }
  }
}

.global-iq {
  h3 {
    font-family: 'Bubbleboddy';
    text-shadow: 0 0 5px #fff, 0 0 20px $clr-darkblue, 0 0 30px $clr-darkblue, 0 0 40px $clr-darkblue, 0 0 55px $clr-darkblue, 0 0 75px $clr-darkblue;
    margin-bottom: 1rem;
    font-size: 3.5rem;
  }

  .post-header {
    width: 100%;
    margin-bottom: 1rem;

    div {
      height: 68px;
    }

    &:nth-child(odd) h4 {
      float: right;
    }

    &:nth-child(odd) p {
      text-align: right;
      margin-left: auto;
    }

    h4 {
      float: left;
      padding: 0.75rem;
      background: #000;
      font-family: 'Roboto';
      box-shadow: 0 0 5px #fff, 0 0 20px $clr-darkblue, 0 0 30px $clr-darkblue, 0 0 40px $clr-darkblue, 0 0 55px $clr-darkblue, 0 0 75px $clr-darkblue;
    }

    p {
      color: white;
      width: 60%;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
  }

  &.sources {
    a {
      color: $clr-darkblue;
    }
  }
}

.conspiracy-theories {

}

.internet-restrictions {
  h3, h4 {
    font-family: Orwell;
  }

  .post-header {
    width: 100%;
    margin-bottom: 1rem;

    div {
      height: 60px;
    }

    &:nth-child(odd) h4 {
      float: right;
    }

    &:nth-child(odd) p {
      text-align: right;
      margin-left: auto;
    }

    h4 {
      float: left;
      padding: 0.75rem;
    }

    p {
      color: white;
      background: #111;
      border: 1px solid #555;
      padding: 0.75rem;
      width: 60%;
    }
  }

  &.sources {
    a {
      color: #fff;
    }
  }
}

.global-warming {
  h3 {
    &.neon {
      font-family: Streamster;
      color: #FB4264;
      text-shadow: 0 0 3vw #F40A35;
      margin-top: 10px;
      animation: neon 8s ease infinite;

      @keyframes neon {
        0%, 45%, 55%, 100% {
          text-shadow: 0 0 3vw #F40A35;
          color: #FB4264;
        }

        50% {
          text-shadow: 0 0 10px #FA1C16, 0 0 15px #FA1C16, 0 0 20px #FA1C16, 0 0 10px #FA1C16, 0 0 3px #FED128, 4px 4px 1px #806914;
          color: rgb(255, 179, 160);
        }
      }
    }

    &.flux {
      font-family: Streamster;
      color: #FED128;
      text-shadow: 0 0 3vw #FED128;
      animation: flux 8s linear infinite;
    }
  }

  .question {
    color: #FED128;
  }

  &.sources {
    a {
      color: #FB4264;
    }
  }
}
</style>
