<template>
  <div>
    <!-- Hero section -->
    <hero />

    <div class="pt-5">
      <!-- Line chart - GLOBAL WARMING -->
      <SectionComponent type="global-warming">
        <template slot="header">
          <h3 class="flux"> {{ $t('segments.globalWarming.theEarthIs') }} </h3>
          <h3 class="neon"> {{ $t('segments.globalWarming.fuckingBurning') }} </h3>
          <span class="question"> {{ $t('segments.globalWarming.paragraph') }} </span>
          <global-warming-chart id="global-warming-wrap" style="opacity: 0" chart-id="global-warming" />
        </template>
        <ul>
          <li>
            CHART - Our World In Data:
            <a href="https://ourworldindata.org/co2-and-other-greenhouse-gas-emissions">
              Temperature increase (2019)
            </a>
            <a href="https://web.archive.org/web/20200101221324/https://ourworldindata.org/co2-and-other-greenhouse-gas-emissions">
              (archive)
            </a>
          </li>
        </ul>
      </SectionComponent>

      <!-- SCIENCE LOGIC REASON, VACCINES AND PREVENTABLE DISEASES -->
      <SectionComponent type="conspiracy-theories">
        <template slot="header">
          <h3>{{ $t('segments.theories.header1') }}</h3>
          <h4>{{ $t('segments.theories.header2') }}</h4>
          <span class="question"> {{ $t('segments.theories.paragraph') }} </span>
          <conspiracy-theories-chart id="conspiracy-theories-wrap" style="opacity: 0" chart-id="conspiracy-theories" />
        </template>
        <ul>
          <li>
            Statista:
            <a href="https://www.statista.com/statistics/959315/belief-in-conspiracy-theories-in-the-us/">
              United States: Belief in selected conspiracy theories (2019)
            </a>
            <a href="https://web.archive.org/web/20200102220337/https://www.statista.com/statistics/959315/belief-in-conspiracy-theories-in-the-us/">
              (archive)
            </a>
          </li>
          <li>
            Forbes:
            <a href="https://www.forbes.com/sites/stevensalzberg/2017/01/03/fake-medical-journals-are-spreading-and-they-are-filled-with-bad-science/#3696756630c9">
              Fake Medical Journals Are Spreading, And They Are Filled With Bad Science (2017)
            </a>
            <a href="https://web.archive.org/web/20190423040429/https://www.forbes.com/sites/stevensalzberg/2017/01/03/fake-medical-journals-are-spreading-and-they-are-filled-with-bad-science/">
              (archive)
            </a>
          </li>
          <li>
            Guardian:
            <a href="https://www.theguardian.com/world/2019/jul/07/christchurch-mosque-killer-ideas-mainstream-social-media">
              Christchurch mosque killer’s theories seeping into mainstream, report warns (2019)
            </a>
            <a href="https://web.archive.org/web/20191103052241/https://www.theguardian.com/world/2019/jul/07/christchurch-mosque-killer-ideas-mainstream-social-media">
              (archive)
            </a>
          </li>
          <li>
            Rational wiki:
            <a href="https://rationalwiki.org/wiki/Anti-vaccination_movement">
              Anti-vaccination movement
            </a>
            <a href="https://web.archive.org/web/20191014002054/https://rationalwiki.org/wiki/Anti-vaccination_movement">
              (archive)
            </a>
          </li>
        </ul>
      </SectionComponent>

      <!-- GLOBAL IQ -->
      <SectionComponent type="global-iq">
        <template slot="header">
          <h3>{{ $t('segments.iq.header1') }}</h3>
          <div class="post-header">
            <div>
              <h4> IQ scores are falling and have been for decades, new study finds (2018) </h4>
            </div>

            <p>
              Norwegian researchers analyzed the IQ scores of Norwegian men born between 1962 and 1991 and found that scores increased by almost 3 percentage points each decade for those born between 1962 to 1975 -- but then saw a steady decline among those born after 1975.
            </p>
          </div>

          <div class="post-header">
            <div>
              <h4> Western IQs drop by 14 points in last century, study says (2013) </h4>
            </div>

            <p>
              "These findings strongly indicate that with respect to general intelligence the Victorians were substantially cleverer than modern Western populations," the study says.
            </p>
          </div>

          <div class="post-header">
            <div>
              <h4> IQ Scores Are Falling in "Worrying" Reversal of 20th Century Intelligence Boom (2018) </h4>
            </div>

            <p>
              Between the years 1970 to 2009, three decades of these young men (born between 1962 to 1991) were conscripted, resulting in over 730,000 IQ test results.
              What the results show is that a turning point for the Flynn effect occurred for the post-1975 birth cohorts, equivalent to 7 fewer IQ score points per generation.
            </p>
          </div>
        </template>

        <ul>
          <li>
            Science Alert:
            <a href="https://www.sciencealert.com/iq-scores-falling-in-worrying-reversal-20th-century-intelligence-boom-flynn-effect-intelligence">
              IQ Scores Are Falling in "Worrying" Reversal of 20th Century Intelligence Boom
            </a>
            <a href="https://web.archive.org/web/20200824224115/https://www.sciencealert.com/iq-scores-falling-in-worrying-reversal-20th-century-intelligence-boom-flynn-effect-intelligence">
              (archive)
            </a>
          </li>
          <li>
            CNN:
            <a href="https://edition.cnn.com/2018/06/13/health/falling-iq-scores-study-intl/index.html">
              IQ scores are falling and have been for decades, new study finds (2018)
            </a>
            <a href="https://web.archive.org/web/20191130185419/https://edition.cnn.com/2018/06/13/health/falling-iq-scores-study-intl/index.html">
              (archive)
            </a>
          </li>
          <li>
            Pri.org:
            <a href="https://www.yahoo.com/news/blogs/sideshow/researchers-western-iqs-dropped-14-points-over-last-180634194.html">
              Western IQs drop by 14 points in last century, study says (2013)
            </a>
            <a href="https://web.archive.org/web/20201006021339/https://www.yahoo.com/news/blogs/sideshow/researchers-western-iqs-dropped-14-points-over-last-180634194.html">
              (archive)
            </a>
          </li>
          <li>
            National Academy of Sciences:
            <a href="https://www.pnas.org/content/115/26/6674">
              Flynn effect and its reversal are both environmentally caused (2018)
            </a>
            <a href="https://web.archive.org/web/20191001195119/https://www.pnas.org/content/115/26/6674">
              (archive)
            </a>
          </li>
          <li>
            Science direct:
            <a href="https://www.sciencedirect.com/science/article/abs/pii/S0160289613000470">
              Were the Victorians cleverer than us? The decline in general intelligence estimated from a meta-analysis of the slowing of simple reaction time (2013)
            </a>
            <a href="https://web.archive.org/web/20191013233811/https://www.sciencedirect.com/science/article/abs/pii/S0160289613000470">
              (archive)
            </a>
          </li>
        </ul>
      </SectionComponent>

      <!-- STDs
      <SectionComponent type="stds">
        <template slot="header">
          <h3>{{ $t('segments.stds.header1') }}</h3>
          <span class="question"> {{ $t('segments.stds.paragraph') }} </span>
          <stds-chart id="stds-wrap" style="opacity: 0" chart-id="stds" />
        </template>
        <ul>
          https://www.cdc.gov/nchhstp/newsroom/docs/factsheets/STD-Table-2018_Final.pdf
          <li>
            NBCNews:
            <a href="https://www.nbcnews.com/health/sexual-health/stds-continue-rapid-rise-u-s-setting-new-record-cdc-n904311">
              STDs continue rapid rise in U.S., setting new record, CDC says (2018)
            </a>
            <a href="https://web.archive.org/web/20191224064722/https://www.nbcnews.com/health/sexual-health/stds-continue-rapid-rise-u-s-setting-new-record-cdc-n904311">
              (archive)
            </a>
          </li>
          <li>
            CNN Healts:
            <a href="https://edition.cnn.com/2019/10/08/health/std-cases-rising-us-study/index.html">
              Three STDs reach all-time highs in the US, new CDC report says (2019)
            </a>
            <a href="https://web.archive.org/web/20191227202606/https://edition.cnn.com/2019/10/08/health/std-cases-rising-us-study/index.html">
              (archive)
            </a>
          </li>
          <li>
            Center for disease control and prevention:
            <a href="https://www.cdc.gov/nchhstp/newsroom/2019/2018-STD-surveillance-report.html#Graphics">
              STD Surveillance Report (2018)
            </a>
            <a href="https://web.archive.org/web/20200101080458/https://www.cdc.gov/nchhstp/newsroom/2019/2018-STD-surveillance-report.html">
              (archive)
            </a>
          </li>
          <li>
            Avert:
            <a href="https://www.avert.org/professionals/hiv-around-world/western-central-europe-north-america/usa">
              HIV and AIDS in the United states of america (2018)
            </a>
            <a href="https://web.archive.org/web/20191213044925/https://www.avert.org/professionals/hiv-around-world/western-central-europe-north-america/usa">
              (archive)
            </a>
          </li>
        </ul>
      </SectionComponent> -->

      <!-- PREMARTIAL SEX
      <SectionComponent type="premartial-sex">
        <template slot="header">
          <h3>{{ $t('segments.premartial.header1') }}</h3>
          <span class="question"> {{ $t('segments.premartial.paragraph') }} </span>
          <premartial-sex-chart id="premartial-sex-wrap" style="opacity: 0" chart-id="premartial-sex" />
        </template>
        <ul>
          <li>
            Psychology today:
            <a href="https://www.psychologytoday.com/us/blog/strictly-casual/201404/is-casual-sex-the-rise-in-america">
              Is Casual Sex on the Rise in America? (2014)
            </a>
            <a href="https://www.psychologytoday.com/us/blog/strictly-casual/201404/is-casual-sex-the-rise-in-america">
              (archive)
            </a>
          </li>
          <li>
            Family studies:
            <a href="https://ifstudies.org/blog/counterintuitive-trends-in-the-link-between-premarital-sex-and-marital-stability/">
              Counterintuitive Trends in the Link Between Premarital Sex and Marital Stability (2016)
            </a>
            <a href="https://web.archive.org/web/20200424031648/https://ifstudies.org/blog/counterintuitive-trends-in-the-link-between-premarital-sex-and-marital-stability/">
              (archive)
            </a>
          </li>
          <li>
            Everyday Health:
            <a href="https://www.everydayhealth.com/longevity/can-promiscuity-threaten-longevity.aspx">
              Can promiscuity threaten longevity (2010)
            </a>
            <a href="https://web.archive.org/web/20190422071648/https://www.everydayhealth.com/longevity/can-promiscuity-threaten-longevity.aspx">
              (archive)
            </a>
          </li>
          <li>
            La Times:
            <a href="https://www.latimes.com/science/sciencenow/la-sci-sn-millennials-sex-attitudes-20150508-story.html">
              The paradox of millennial sex: More casual hookups, fewer partners
            </a>
            <a href="https://web.archive.org/web/20190824021234/https://www.latimes.com/science/sciencenow/la-sci-sn-millennials-sex-attitudes-20150508-story.html">
              (archive)
            </a>
          </li>
          <li>
            University of Maiduguri:
            <a href="https://iosrjournals.org/iosr-jhss/papers/Vol10-issue1/B01011017.pdf">
              Consequences of Pre-Marital Sex among the Youth
            </a>
            <a href="https://web.archive.org/web/20180712174050/https://iosrjournals.org/iosr-jhss/papers/Vol10-issue1/B01011017.pdf">
              (archive)
            </a>
          </li>
        </ul>
      </SectionComponent> -->

      <!-- PORN COMPSUMPTION
       - porno koreluje se sexuální dysfunkcí https://medicalxpress.com/news/2017-05-link-porn-sexual-dysfunction.html
       - porno způsobuje touhu znáselňovat i v malých dětech (Odborníci na péči o děti uvedli, že pornografie je neoddělitelně spjata s rostoucím počtem mladých sexuálních delikventů v Austrálii.) https://www.abc.net.au/news/2016-09-03/sexual-assault-among-young-people-is-on-the-rise.-but-why/7810866
       - porno poškozuje normální vztahy https://theconversation.com/how-internet-porn-affects-romantic-life-61451
       - a koreluje s nefunkčním manželstvím - https://s3.amazonaws.com/thf_media/2010/pdf/ManningTST.pdf (a 2000 study by Schneider found that cybersex addiction was a major contributing factor to separation and divorce for affected couples)

        • 56 percent of the divorce cases involved one party having an obsessive interest in
        pornographic websites.
        • 47 percent of the divorce cases involved one party spending excessive time on the
        computer.
        • 33 percent of the divorce cases cited excessive time communicating in chat rooms (a
        commonly sexualized forum).

        Results showed that exposure to pornography negatively impacted self-assessment of sexual experience

        • The user makes excuses to avoid sexual intimacy with the partner (e.g., not in the mood or too tired).

        In response to this quandary of access, Richardson, Resnick, Hansen, Derry, and Rideout
        (2002) examined how pornography-blocking software affected access to health information
        online.162 These researchers found that pornography-blocking software has a minimal impact on
        one’s access to information about sexual and reproductive health.163 For example, they found
        blocking software set at moderate settings blocked 90 percent of the pornographic content online
        while blocking only 5 percent of health information.

        According to research with first-year college students, the following effects and/or risks
        are associated with frequent exposure to erotica. These effects and/or risks are listed here because of the potential they have for shaping sexual development as well as future marital and familial
        relationships

        • Normalization of adverse reactions to offensive material;
        • Developing tolerance toward sexually explicit material, thereby requiring more novel or
        bizarre material to achieve the same level of arousal or interest;
        • Misperceptions of exaggerated sexual activity in the general populace;
        • Overestimating the prevalence of less common sexual practices (e.g., group sex,
        bestiality, and sadomasochistic activity);
        • Diminished trust in intimate partners;
        • Abandoning the goal of sexual exclusivity with a partner;
        • Perceiving promiscuity as a normal state of interaction;
        • Perceiving sexual inactivity as constituting a health risk;
        • Developing cynical attitudes about love;
        • Believing superior sexual satisfaction is attainable without having affection for one’s
        partner;
        • Believing marriage is sexually confining;
        • Believing that raising children and having a family is as an unattractive prospect; and
        • Developing a negative body image, especially for women.166

        In recent years, an Australian Child at Risk Assessment Unit in Canberra, New South
        Wales, noticed a disturbing increase in the number of sexually abusive or aggressive children
        under the age of 10 who were being referred to their services. In the early 1990s, approximately 3
        children per year were being referred for sexually aggressive behavior. However, by 2003,
        approximately 70 children per year were being referred, many of whom had preyed on other
        children by forcing them to take part in sexual acts.

       - konzumenti porna mají větší pravděpodobnost nebezpečného sexuálního chování a sníženého mentálního zdraví (“Young people who reported having visited sexually explicit websites were more likely to have higher numbers of sexual partners, engage in a wider diversity of sexual practices, and use alcohol or drugs in association with sexual encounters”, the authors said.) - https://medicalxpress.com/news/2012-05-internet-porn-bad-adolescent-health.html
       - kvůli sexualizované hudbě redukují děti svou hodnotu jen na úroveň sexu a mají více sexu - https://phys.org/news/2011-09-songs-sex-ndash-affect-kids.html (https://medicalxpress.com/news/2009-02-sexual-lyrics-popular-songs-linked.html)
       - Konzumenti porna mají větší pravděpodobnost deprese - Michele L. Ybarra and Kimberly J. Mitchell, “Exposure to Internet Pornography among Children and Adolescents: A National Survey,” CyberPsychology & Behavior 8 (2005): 473-86 (479). 10 Vincent Cyrus Yoder, Thomas B.Virden III, and Kiran Amin “Internet pornography and Loneliness: An Association?” Sexual Addiction & Compulsivity 12 (2005): 19-44 (30). This was a study of 400 individual Internet pornography users.
      -->
      <SectionComponent type="porn-consumption">
        <template slot="header">
          <h3>{{ $t('segments.porn.header1') }}</h3>
          <span class="question"> {{ $t('segments.porn.paragraph') }} </span>
          <premartial-sex-chart id="premartial-sex-wrap" style="opacity: 0" chart-id="premartial-sex" />
        </template>
        <ul>
          <li>
            Psychology today:
            <a href="https://www.psychologytoday.com/us/blog/strictly-casual/201404/is-casual-sex-the-rise-in-america">
              Is Casual Sex on the Rise in America? (2014)
            </a>
            <a href="https://www.psychologytoday.com/us/blog/strictly-casual/201404/is-casual-sex-the-rise-in-america">
              (archive)
            </a>
          </li>
          <li>
            Family studies:
            <a href="https://ifstudies.org/blog/counterintuitive-trends-in-the-link-between-premarital-sex-and-marital-stability/">
              Counterintuitive Trends in the Link Between Premarital Sex and Marital Stability (2016)
            </a>
            <a href="https://web.archive.org/web/20200424031648/https://ifstudies.org/blog/counterintuitive-trends-in-the-link-between-premarital-sex-and-marital-stability/">
              (archive)
            </a>
          </li>
          <li>
            Everyday Health:
            <a href="https://www.everydayhealth.com/longevity/can-promiscuity-threaten-longevity.aspx">
              Can promiscuity threaten longevity (2010)
            </a>
            <a href="https://web.archive.org/web/20190422071648/https://www.everydayhealth.com/longevity/can-promiscuity-threaten-longevity.aspx">
              (archive)
            </a>
          </li>
          <li>
            La Times:
            <a href="https://www.latimes.com/science/sciencenow/la-sci-sn-millennials-sex-attitudes-20150508-story.html">
              The paradox of millennial sex: More casual hookups, fewer partners
            </a>
            <a href="https://web.archive.org/web/20190824021234/https://www.latimes.com/science/sciencenow/la-sci-sn-millennials-sex-attitudes-20150508-story.html">
              (archive)
            </a>
          </li>
          <li>
            University of Maiduguri:
            <a href="https://iosrjournals.org/iosr-jhss/papers/Vol10-issue1/B01011017.pdf">
              Consequences of Pre-Marital Sex among the Youth
            </a>
            <a href="https://web.archive.org/web/20180712174050/https://iosrjournals.org/iosr-jhss/papers/Vol10-issue1/B01011017.pdf">
              (archive)
            </a>
          </li>
        </ul>
      </SectionComponent>

      <!-- LONELINESS
      - Konzumenti porna mají větší pravděpodobnost deprese - Michele L. Ybarra and Kimberly J. Mitchell, “Exposure to Internet Pornography among Children and Adolescents: A National Survey,” CyberPsychology & Behavior 8 (2005): 473-86 (479). 10 Vincent Cyrus Yoder, Thomas B.Virden III, and Kiran Amin “Internet pornography and Loneliness: An Association?” Sexual Addiction & Compulsivity 12 (2005): 19-44 (30). This was a study of 400 individual Internet pornography users.

      AND WITHOUT A REAL PARTNER, EVERYONE FEELS MORE LONELY -->
      <SectionComponent type="loneliness">
        <template slot="header">
          <h3> And without a real partner, everyone feels more lonely. </h3>
          <p>
            ...nearly half of Americans always or sometimes feel alone (46%) or left out (47%).
            Fully 54% said they always or sometimes feel that no one knows them well. Loneliness isn’t just a U.S. phenomenon.
            In a nationwide survey released in October from the BBC, a third of Britons said that they often or very often feel lonely.
            Nearly half of Britons over 65 consider the television or a pet their main source of company. In Japan, there are more than half
            a million people under 40 who haven’t left their house or interacted with anyone for at least six months. In Canada, the share
            of solo households is now 28%. Across the European Union, it’s 34%.
          </p>
        </template>

        <ul>
          <li>
            Forbes:
            <a href="https://www.forbes.com/sites/neilhowe/2019/05/03/millennials-and-the-loneliness-epidemic/#538b4be57676">
              Millennials And The Loneliness Epidemic
            </a>
          </li>
          <li>
            The Guardian:
            <a href="https://www.theguardian.com/lifeandstyle/2014/jul/20/loneliness-britains-silent-plague-hurts-young-people-most">
              Loneliness: a silent plague that is hurting young people most
            </a>
          </li>
          <li>
            BBC:
            <a href="https://www.bbc.com/news/education-43711606">
              Loneliness more likely to affect young people
            </a>
          </li>
          <li>
            livescience.com:
            <a href="https://www.livescience.com/16879-close-friends-decrease-today.html">
              Close Friends Less Common Today, Study Finds
            </a>
          </li>
        </ul>
      </SectionComponent> -->

      <!-- DEPRESSION - CHART FINAL - AND IS DEPRESSED -->
      <SectionComponent type="depression">
        <template slot="header">
          <h4>{{ $t('segments.depression.header1') }}</h4>
          <h3>{{ $t('segments.depression.header2') }}</h3>
          <span class="question"> {{ $t('segments.depression.paragraph') }} </span>
          <depression-chart id="depression-wrap" style="opacity: 0" chart-id="depression" />
        </template>
        <ul>
          <!--
            https://www.nbcnews.com/health/health-news/major-depression-rise-among-everyone-new-data-shows-n873146
            https://ourworldindata.org/mental-health#prevalence-of-mental-health-and-substance-use-disorders
            https://ourworldindata.org/mental-health#anxiety-disorders
            https://www.nimh.nih.gov/health/statistics/any-anxiety-disorder.shtml
            https://www.nimh.nih.gov/health/statistics/major-depression.shtml
            https://adaa.org/understanding-anxiety/depression (322 million people have depression)
          -->
          <li>
            NBC News:
            <a href="https://www.nbcnews.com/health/health-news/major-depression-rise-among-everyone-new-data-shows-n873146">
              Major depression on the rise among everyone, new data shows (2018)
            </a>
            <a href="https://web.archive.org/web/20191101015646/https://www.nbcnews.com/health/health-news/major-depression-rise-among-everyone-new-data-shows-n873146">
              (archive)
            </a>
          </li>
          <li>
            The guardian:
            <a href="https://www.theguardian.com/news/2018/jun/04/what-is-depression-and-why-is-it-rising">
              What is depression and why is it rising? (2018)
            </a>
            <a href="https://web.archive.org/web/20191222112038/https://www.theguardian.com/news/2018/jun/04/what-is-depression-and-why-is-it-rising">
              (archive)
            </a>
          </li>
          <li>
            Columbia Mailman School of Public Health:
            <a href="https://www.mailman.columbia.edu/public-health-now/news/depression-rise-us-especially-among-young-teens">
              Depression Is on the Rise in the U.S., Especially Among Young Teens (2017)
            </a>
            <a href="https://web.archive.org/web/20191018184957/https://www.mailman.columbia.edu/public-health-now/news/depression-rise-us-especially-among-young-teens">
              (archive)
            </a>
          </li>
          <li>
            StudyFinds:
            <a href="https://www.studyfinds.org/study-finds-children-sports-fitness-depression/">
              Kids Who Play Sports Have Lower Risk Of Depression, Study Finds (2017)
            </a>
            <a href="https://web.archive.org/web/20200102203712/https://www.studyfinds.org/study-finds-children-sports-fitness-depression/">
              (archive)
            </a>
          </li>
        </ul>
      </SectionComponent>

      <!-- DRUG OVERDOSES - AND DOES MORE DRUGS -->
      <SectionComponent type="drug-overdoses">
        <template slot="header">
          <h3>{{ $t('segments.drugs.header1') }}</h3>
          <drug-overdose-deaths-chart id="drug-overdoses-wrap" style="opacity: 0" chart-id="drug-overdoses" />
          <!-- https://d14rmgtrwzf5a.cloudfront.net/sites/default/files/drugfacts-mtf.pdf -->
        </template>
        <ul>
          <li>
            National institute on drug abuse:
            <a href="https://www.drugabuse.gov/related-topics/trends-statistics/overdose-death-rates">
              Overdose Death Rates (2019)
            </a>
            <a href="https://web.archive.org/web/20200101203206/https://www.drugabuse.gov/related-topics/trends-statistics/overdose-death-rates">
              (archive)
            </a>
          </li>
        </ul>
      </SectionComponent>

      <!-- SUICIDE RATE - AND EVENTUALLY ENDS UP KILLING HIMSELF -->

      <!--- TODO:
        Globally 800,000 people die from suicide every year – that’s twice the number from homicide.
        Suicide is one of the leading causes of death in young people. (Might it be because of mental health problems induced by pornography and oversexualization?)
      -->
      <SectionComponent type="suicide-rate">
        <template slot="header">
          <h3>{{ $t('segments.suicides.header1') }}</h3>
          <span class="question"> {{ $t('segments.suicides.paragraph') }} </span>
          <suicide-rate-chart id="suicide-rate-wrap" style="opacity: 0" chart-id="suicide-rate" />
        </template>
        <ul>
          <li>
            CNN Health:
            <a href="https://edition.cnn.com/2019/06/18/health/suicide-rates-teens-young-adults-us-study/index.html">
              Suicide rates among America's young people continue to soar, study shows (2019)
            </a>
            <a href="https://web.archive.org/web/20191209021104/https://edition.cnn.com/2019/06/18/health/suicide-rates-teens-young-adults-us-study/index.html">
              (archive)
            </a>
          </li>
          <li>
            American Foundation for Suicide Prevention:
            <a href="https://afsp.org/about-suicide/suicide-statistics/">
              Suicide Statistics (2017)
            </a>
            <a href="https://web.archive.org/web/20191212204357/https://afsp.org/about-suicide/suicide-statistics/">
              (archive)
            </a>
          </li>
          <li>
            Samaritan.org:
            <a href="https://www.samaritans.org/about-samaritans/research-policy/suicide-facts-and-figures/">
              Suicide statistics and trends for the UK and Republic of Ireland. (2018)
            </a>
            <a href="hhttps://web.archive.org/web/20191104220130/https://www.samaritans.org/about-samaritans/research-policy/suicide-facts-and-figures/">
              (archive)
            </a>
          </li>
          <li>
            OECD:
            <a href="https://data.oecd.org/healthstat/suicide-rates.htm">
              Suicide rates (2017)
            </a>
            <a href="https://web.archive.org/web/20191218054221/https://data.oecd.org/healthstat/suicide-rates.htm">
              (archive)
            </a>
          </li>
        </ul>
      </SectionComponent>

      <!-- STUDENT DEBT -->
      <SectionComponent type="student-debt">
        <template slot="header">
          <h3>{{ $t('segments.debt.header1') }}</h3>
          <span class="question"> {{ $t('segments.debt.paragraph') }} </span>
          <student-loan-chart id="student-debt-wrap" style="opacity: 0" chart-id="student-debt" />
        </template>
        <ul>
          <li>
            Bloomberg:
            <a href="https://www.bloomberg.com/news/articles/2017-02-17/student-debt-in-america-has-hit-a-new-record">
              Student Debt in America Has Hit a New Record (2017)
            </a>
            <a href="https://web.archive.org/web/20180328092547/https://www.bloomberg.com/news/articles/2017-02-17/student-debt-in-america-has-hit-a-new-record">
              (archive)
            </a>
          </li>
          <li>
            Forbes:
            <a href="https://www.forbes.com/sites/zackfriedman/2019/02/25/student-loan-debt-statistics-2019/#7546a036133f">
              Student Loan Debt Statistics In 2019: A $1.5 Trillion Crisis
            </a>
            <a href="https://web.archive.org/web/20191211115737/https://www.forbes.com/sites/zackfriedman/2019/02/25/student-loan-debt-statistics-2019/">
              (archive)
            </a>
          </li>
        </ul>
      </SectionComponent>

      <!-- COLLEGE IS NOT WORTH IT -->
      <!-- despite the fact that college is simply not worth it anymore -->
      <SectionComponent type="colledge-not-worth-it">
        <template slot="header">
          <h3>{{ $t('segments.school.header1') }}</h3>
          <span class="question"> {{ $t('segments.school.paragraph') }} </span>
          <skills-chart id="colledge-not-worth-it-wrap" style="opacity: 0" chart-id="colledge-not-worth-it" />
        </template>

        <ul>
          <li>
            DATA - Gallup:
            <a href="https://news.gallup.com/poll/167546/business-leaders-say-knowledge-trumps-college-pedigree.aspx">
              Business Leaders Say Knowledge Trumps College Pedigree (2014)
            </a>
            <a href="https://web.archive.org/web/20200223053838/https://news.gallup.com/poll/167546/business-leaders-say-knowledge-trumps-college-pedigree.aspx">
              (archive)
            </a>
          </li>
          <li>
            Nature:
            <a href="https://www.nature.com/articles/d41586-018-03803-3">
              Rates of anxiety and depression among PhD and master’s students exceed those in general public. (2018)
            </a>
            <a href="https://web.archive.org/web/20200504133511/https://www.nature.com/articles/d41586-018-03803-3">
              (archive)
            </a>
          </li>
          <li>
            NY Times:
            <a href="https://www.nytimes.com/2018/05/16/opinion/college-useful-cost-jobs.html">
              College May Not Be Worth It Anymore (2018)
            </a>
            <a href="https://web.archive.org/web/20191119112409/https://www.nytimes.com/2018/05/16/opinion/college-useful-cost-jobs.html">
              (archive)
            </a>
          </li>
          <li>
            Forbes:
            <a href="https://www.forbes.com/sites/caseybond/2015/09/04/why-college-isnt-worth-the-money/#380c7978653d">
              Why College Isn't Worth The Money (2015)
            </a>
            <a href="https://web.archive.org/web/20160415013044/http://www.thestreet.com/story/13382172/1/why-college-isn-t-worth-it-no-matter-how-rich-or-poor-you-are.html">
              (archive)
            </a>
          </li>
          <li>
            Priceton University Press:
            <a href="https://press.princeton.edu/books/hardcover/9780691174655/the-case-against-education">
              The Case against Education: Why the Education System Is a Waste of Time and Money (2018)
            </a>
            <a href="https://web.archive.org/web/20191029193907/https://press.princeton.edu/books/hardcover/9780691174655/the-case-against-education">
              (archive)
            </a>
          </li>
          <li>
            CNN Money:
            <a href="https://money.cnn.com/2015/12/09/news/economy/college-not-worth-it-goldman/index.html">
              Is college worth it? Goldman Sachs says maybe not (2015)
            </a>
            <a href="https://web.archive.org/web/20191022043514/https://money.cnn.com/2015/12/09/news/economy/college-not-worth-it-goldman/index.html">
              (archive)
            </a>
          </li>
        </ul>
      </SectionComponent>

      <!-- shorten lifespan -->
      <!-- TRUST IN MEDIA -->
      <SectionComponent type="trust-in-media">
        <template slot="header">
          <h3>{{ $t('segments.media.header1') }}</h3>
          <span class="question"> {{ $t('segments.media.paragraph') }} </span>
          <media-trust-chart id="trust-in-media-wrap" style="opacity: 0" chart-id="trust-in-media" />
        </template>
        <ul>
          <li>
            CHART - Gallup:
            <a href="https://news.gallup.com/poll/195542/americans-trust-mass-media-sinks-new-low.aspx">
              Americans' Trust in Mass Media Sinks to New Low (2016)
            </a>
            <a href="https://web.archive.org/web/20200101012311/https://news.gallup.com/poll/195542/americans-trust-mass-media-sinks-new-low.aspx">
              (archive)
            </a>
          </li>
          <li>
            Fortune:
            <a href="https://fortune.com/2016/09/15/trust-in-media/">
              Here’s Why Trust in the Media Is at an All-Time Low (2016)
            </a>
            <a href="https://web.archive.org/web/20190219181626/https://fortune.com/2016/09/15/trust-in-media/">
              (archive)
            </a>
          </li>
        </ul>
      </SectionComponent>

      <!-- TRUST IN GOVERNMENT -->
      <SectionComponent type="trust-in-government">
        <template slot="header">
          <h3>{{ $t('segments.gov.header1') }}</h3>
          <h4>{{ $t('segments.gov.header2') }}</h4>
          <span class="question"> {{ $t('segments.gov.paragraph') }} </span>
          <trust-in-gov-chart id="trust-in-government-wrap" style="opacity: 0" chart-id="trust-in-government" />
        </template>
        <ul>
          <li>
            CHART - Pew Research Center:
            <a href="https://www.people-press.org/2015/11/23/1-trust-in-government-1958-2015/">
              Trust in government: 1958-2015 (2015)
            </a>
            (data up to 2019)
            <a href="https://web.archive.org/web/20191121232612/https://www.people-press.org/2015/11/23/1-trust-in-government-1958-2015/">
              (archive)
            </a>
          </li>
          <li>
            Forbes:
            <a href="https://www.forbes.com/sites/brandindex/2016/10/05/trust-in-media-low-and-falling-2/#1dd4e0df17df">
              Trust In Media: Low And Falling (2016)
            </a>
            <a href="https://web.archive.org/web/20170423192830/https://www.forbes.com/sites/brandindex/2016/10/05/trust-in-media-low-and-falling-2/">
              (archive)
            </a>
          </li>
          <li>
            Huffpost:
            <a href="https://www.huffpost.com/entry/trust-in-media_n_57148543e4b06f35cb6fec58">
              Hardly Anyone Trusts The Media Anymore (2016)
            </a>
            <a href="https://web.archive.org/web/20190414004923/https://www.huffpost.com/entry/trust-in-media_n_57148543e4b06f35cb6fec58">
              (archive)
            </a>
          </li>
        </ul>
      </SectionComponent>

      <!-- THE END OF FREEDOM ON THE INTERNET AND MASS SPYING -->
      <SectionComponent type="internet-restrictions">
        <template slot="header">
          <h3>{{ $t('segments.spying.header1') }}</h3>
          <h4 class="mb-3">{{ $t('segments.spying.header2') }}</h4>

          <div class="post-header">
            <div>
              <h4> Is The Internet Evolving Away From Freedom of Speech? </h4>
            </div>

            <p>
              It is a fascinating commentary on society that just a few years past its 20th anniversary, the web is facing such growing pains and is evolving from its roots as the anti-censorship platform of free speech and towards the very corporate-controlled moderated medium beholden to commercial and governmental interests that it rebelled against.
            </p>
          </div>

          <div class="post-header">
            <div>
              <h4> The era of internet freedom is over </h4>
            </div>

            <p>
              "These findings strongly indicate that with respect to general intelligence the Victorians were substantially cleverer than modern Western populations," the study says.
            </p>
          </div>

          <div class="post-header">
            <div>
              <h4> Edward Snowden: Leaks that exposed US spy programme </h4>
            </div>

            <p>
              In January 2014, the Guardian newspaper and Channel 4 News reported that the US had collected and stored almost 200 million text messages per day across the globe.
              Through the vast database, which was in use at least as late as 2012, the NSA gained information on those who were not specifically targeted or under suspicion, the report says.
            </p>
          </div>
        </template>

        <ul>
          <li>
            Forbes:
            <a href="https://www.forbes.com/sites/kalevleetaru/2016/01/15/is-the-internet-evolving-away-from-freedom-of-speech/#1c2b09106c37">
              Is The Internet Evolving Away From Freedom of Speech?
            </a>
          </li>
          <li>
            Spiked:
            <a href="https://www.spiked-online.com/2019/04/09/the-era-of-internet-freedom-is-over/">
              The era of internet freedom is over
            </a>
          </li>
          <li>
            BBC:
            <a href="https://www.bbc.com/news/world-us-canada-23123964">
              Edward Snowden: Leaks that exposed US spy programme
            </a>
          </li>
        </ul>
      </SectionComponent>
    </div>
  </div>
</template>

<script>
import SectionComponent from '@/components/Section.vue'

import GlobalWarmingChart from '@/components/charts/GlobalWarmingChart.vue'
import DepressionChart from '@/components/charts/DepressionChart.vue'
import ConspiracyTheoriesChart from '@/components/charts/ConspiracyTheoriesChart.vue'
import PremartialSexChart from '@/components/charts/PremartialSexChart.vue'
import MediaTrustChart from '@/components/charts/MediaTrustChart.vue'
import DrugOverdoseDeathsChart from '@/components/charts/DrugOverdoseDeathsChart.vue'
// import StdsChart from '@/components/charts/StdsChart.vue'
import StudentLoanChart from '@/components/charts/StudentLoanChart.vue'
import SuicideRateChart from '@/components/charts/SuicideRateChart.vue'
import TrustInGovChart from '@/components/charts/TrustInGovChart.vue'
import SkillsChart from '@/components/charts/SkillsChart.vue'
// import SpyingChart from '@/components/charts/SpyingChart.vue'
import Hero from '@/components/Hero.vue'

export default {
  components: {
    SectionComponent,
    GlobalWarmingChart,
    DepressionChart,
    DrugOverdoseDeathsChart,
    ConspiracyTheoriesChart,
    PremartialSexChart,
    MediaTrustChart,
    // StdsChart,
    StudentLoanChart,
    SuicideRateChart,
    TrustInGovChart,
    SkillsChart,
    // SpyingChart,
    Hero,
  },
}
</script>

<style lang="scss" scoped>
// styles
// https://www.digitaldesignjournal.com/css-glow-text-effects/
// https://freefrontend.com/css-glow-text-effects/
// https://speckyboy.com/text-masking/
// https://wdexplorer.com/20-examples-beautiful-css-typography-design/
// https://codepen.io/boldfacedesign/pen/EoGgD - the best

// https://www.gapminder.org/data/
// https://ec.europa.eu/eurostat/data/database
// https://www.who.int/healthinfo/mortality_data/en/
// https://drugabusestatistics.org/marijuana-addiction/
// https://www.hams.cc/overdose/
// https://gssdataexplorer.norc.org/trends
</style>
